body {
    font-family: sans-serif;
    background: #f1a8b8;
}

#game-board {
    border: solid 1px yellow;
    margin-bottom: 2em;
    width: 500px;
    height: 500px;
}

#game-board td {
    border: solid 1px yellow;
    height: 80px;
    width: 80px;
    text-align: center;
    font-size: 45px;
}

#start-game {
    background-color: yellow;
    border-radius: 50%;
    height: 50px;
    width: 50px;
}

h1 {
    background: red;
    background: linear-gradient(to right, orange , yellow, green, cyan, blue, violet);
    -webkit-text-fill-color: transparent;
    font-size: 4vw;
}